#quotes > div {
  margin-top: 15px;
}

#quotes {
  padding: 30px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 21px;
  letter-spacing: 2px;
  word-spacing: 0px;
  clear: both;
  width: 75%;
}

#author {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-self: center;
  font-style: italic;
  font-weight: 700;
}
