.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

#left-app {

}

#right-app {
    width: 66vw;
}

#header-div {
    display: flex;
    z-index: 1;
    padding-left: 5px;
    padding-top: 5px;
    flex-direction: column;
    height: 138px;
}

#header-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

#header-logo a {
    font-size: xxx-large;
    color:black;
}

#random-quote-div {
    display: flex;
    width: 100%;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
