#header-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-start;
    padding: 15px;
}


#header-logo a {
    font-size: xxx-large;
}

#header-logo{
    display:flex;
    justify-content: flex-start;
}

#random-quote-div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    justify-content: flex-start;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
}