#navigation a {
  background: #d34e4e;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

#navigation a:hover {
  background: #000000;
}

#navigation {
  display: flex;
  justify-content: center;
}
