#navigation a {
  margin-top:1rem
}

#navigation a:hover {
}

#navigation {
  display: flex;
  justify-content: center;
}

#router-div{
  border-radius: 25px;
  background-color: #fb5f5f;
  width: 100%;
  min-height: 100vh;
}